<div>
    <div class="card">
        <div class="card-header">
            <h1>Práctica realizada</h1>
        </div>
        <div class="card-body text-justify">
            <p>Para la practica se realizo lo siguiente: </p> 
            <ol>
                <li>
                    <p>Como pasos iniciales se procedio a crear el nuevo proyecto e instalar la dependencia de boostrap.</p>
                </li>
                <li>
                    <p>Luego se continuo con la creación de los 5 componentes para las opciones descritas en la tarea</p>
                </li>
                <li>
                    <p>Una vez creado los componentes de angular, se procedio a configurar las rutas. Para ello se siguieron los siguientes pasos: </p>
                    <ol>
                        <li>
                            Se importaron los componentes anteriormente creados en <b>app-routing.module.ts</b>.  
                        </li>
                        <li>
                            Se definieron las rutas y a los componente que llamarian dichas rutas dentro de la constante <b>routes</b>
                        </li>
                    </ol>
                </li>
                <li>
                    <p>Una vez configuradas las rutas, se creo el menu navbar en <b>app.component.html</b> y con router-link se indico la ruta a cada opcion del menu.</p>
                </li>
                <li>
                    <p>Luego se procedio a agregar el contenido indicado en la descripcion de la tarea a cada componente.</p>
                </li>
            </ol>        
            
        </div>
    </div>
</div>