<div>
    <div class="card">
        <div class="card-header">
            <h1>Data Binding</h1>
        </div>
        <div class="card-body text-justify">
            <p>A breve rasgos data binding es la manera en que se comunican las variables del código typescript con su template HTML.</p> 
        
            <br>
            <h2>Template expression</h2>
            <p>
                Este es el enlace unidireccional de la propiedad de un componente a la plantilla del componente. Entonces, cuando cambia la propiedad en los componentes, la plantilla se actualiza para reflejar los nuevos cambios.
            </p>
            <p>Ejemplo: </p>
            <img class="mx-auto d-block rounded" width="30%" src="../../../assets/img/template_expr.png" alt="Ejemplo de un expression template">
            <br>
            <br>
            <h2>Property binding</h2>
            <p>
                Este es un enlace unidireccional de los datos de un modelo al destino de enlace.
                El destino de enlace puede ser propiedades de elementos, propiedades de componentes o propiedades de directivas directivas.
                Entre los corchetes se []encuentra el nombre de la propiedad del modelo que se vinculará al elemento.
            </p>
            <ul class="list-group list-group-flush">
                <li class="list-group-item">
                    <b>Element Binding: </b><br>
                    <img class="mx-auto d-block rounded" src="../../../assets/img/property-binding.png" alt="Ejemplo de un property binding">
                </li>
                <li class="list-group-item">
                    <b>Component binding</b><br>
                    <img class="mx-auto d-block rounded" src="../../../assets/img/component-binding.png" alt="Ejemplo de un property binding">
                </li>
            </ul>
            <br>
            <br>
            <h2>Event Binding</h2>
            <p>En el DOM, los elementos pueden generar eventos y vinculamos cada evento con un controlador de eventos, una función que se ejecuta cuando se emite el evento.</p>
            <img class="mx-auto d-block rounded" src="../../../assets/img/enlace-event.png" alt="Ejemplo de un event binding">
        </div>
    </div>
</div>